@model RecepieVM
@{ 
    ViewBag.Title = Model.Name;
}

<a asp-controller="Recepie" asp-action="DeleteRecepie" asp-route-id="@Model.Id">Delete</a>

<ul>
    @foreach (var item in Model.Ingredients)
    {
        <li>@item.Quantity @item.Unit @item.IngredientName</li>
    }
</ul>

<ol>
    @foreach (var item in Model.Description)
    {
        <li>@item</li>
    }
</ol>